.tasks-edit-wrapper{
    display: flex;
    height: calc(100vh - 10%);
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.tasks-edit-form {
    border: 1px solid gray;
    width: 500px;
    padding: 20px;
    background-color: #e2e2e2;
    box-shadow: -7px 7px #144ad91a;
}